<%# app/views/customers/new.html.erb %>
<% content_for :title, "New Customer" %>
<% content_for :breadcrumb do %>
  <span style="color:var(--text-dim)">Sales</span>
  <span class="breadcrumb-sep">/</span>
  <%= link_to 'Customers', customers_path, style: "color:var(--text-dim)" %>
  <span class="breadcrumb-sep">/</span>
  <span class="breadcrumb-current">New</span>
<% end %>
<div class="page-header"><div class="page-title">New Customer</div></div>
<%= render 'form', customer: @customer %>
