<%# app/views/sales/sales_invoices/edit.html.erb %>
<% content_for :title, "Edit #{@invoice.display_number}" %>
<% content_for :breadcrumb do %>
  <span style="color:var(--text-dim)">Sales</span>
  <span class="breadcrumb-sep">/</span>
  <%= link_to 'Invoices', sales_sales_invoices_path, style: "color:var(--text-dim)" %>
  <span class="breadcrumb-sep">/</span>
  <%= link_to @invoice.display_number, sales_sales_invoice_path(@invoice), style: "color:var(--text-dim)" %>
  <span class="breadcrumb-sep">/</span>
  <span class="breadcrumb-current">Edit</span>
<% end %>
<div class="page-header">
  <div class="page-title">Edit <%= @invoice.display_number %></div>
</div>
<%= render 'form', invoice: @invoice %>
